{% extends 'base.html' %}
{% load static %}

{% block extends %}
    <div class="container">
        <div class="item" style="margin-bottom: 60px;">
            <div class="text2">
                <h1>Forum: Tell us and the community <br> your ideas!</h1>
                <p style="margin-bottom: 40px;">
                    Don't worry to express yourself! If you want to communicate with our community 
                    or simply ask some questions, that's the correct section for you!
                    Just type ... without logging and you're done!
                </p>
                    
                <div class="inputForum" style="background-color: #ddd;">
                    <p>&nbsp;&#x1F4E7;&nbsp; Send a message by clicking the button below:</p>
                    <form method='post' action="{% url 'create post' %}">
                        {% csrf_token %}
                        {{ form }}
                        <button onclick="sendMSG()">Send</button>
                    </form>                     
                </div>  
            </div>
        </div>

        <div class="arrows">
            <div class="previous">
                <a href="{% url 'solution dimostration page' %}">&#60; Previous</a>
            </div>
            <div class="next">
                <a href="{% url 'about page' %}">Next &#62;</a>
            </div>
        </div>
    </div>

    <script>console.log(messages);</script>
{% endblock %}