@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media screen and (max-width: 622px) {          /* MOBILE */
    #first {
        margin: 120px 0 0px;
    }
    #img-first {
        margin: 140px 0 0;
    }
}
@media screen and (max-width: 905px) {
    .item {
        border-bottom: 2px solid #49108B;
    }
}
@media screen and (max-width: 1114px) {
    #first {
        margin: 100px 0 0;
    }
    #img-first {
        margin: 120px 0 0;
    }
}

html {
    scroll-behavior: smooth;
    scrollbar-width: 2px;
    scrollbar-color: #734F96 #280659;
}
body {
    margin: 0;
    font-family: 'Poppins';
    font-size: 17px;
    background-color: #ddd
}   
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
a::selection,
img::selection,
input::selection {
    background-color: #49108B;
    color: #E26EE5;
}
br {
    user-select: none;
}
h1{                                         /* For all the titles */
    border-left: 2px solid black;
    max-width: 100%;
}

/* START NAVBAR */
nav {
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 5px 0;
    background-image: linear-gradient(#280659, #59209B);
    transition: ease-in-out .4s;
    max-width: 100%;
}
nav:hover {
    padding: 20px 0;
}
.header {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}    
.name {
    display: flex;
    align-items: center;
    color: #ddd;
    word-spacing: -1px;
    max-width: 100%;
}
.name img { 
    width: 65px;
    margin-right: 20px;
    max-width: 100%;
}
.menu {                                  /* MENU */
    width: 650px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}
.menu a, .text2 a, .text a {             /* TEXT LINK */
    color: #ddd;
    text-decoration: none;
    font-size: 22px;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.4s;
    max-width: 100%;
}
.menu a:hover, .text2 a:hover, .text a:hover {
    text-shadow: 5px 3px 1.5px #86B;
    font-weight: bold;
    max-width: 100%;
}
/* END NAVBAR */


/* TESTI */
.container {
    margin: 0 auto;
    width: 1240px;
    max-width: 100%;
}
.item {                                 /* ITEM CONTAINER */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0 120px;
    max-width: 100%;
}

.text {                                 /* TEXT ITEM */
    width: 50%;
    max-width: 100%;
}
.text h1 {
    height: fit-content;
    padding-left: 10px;
    margin-bottom: -3px;
    max-width: 100%;
}
.text2 {                                /* OTHER TEXT STYLE */
    margin: 0 auto;
    text-align: center;
    width: 50%;
    max-width: 100%;
}
.text2 p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 100px;
    max-width: 100%;
}
.text2 a, .text a {
    color: black;
    text-decoration: underline;
    padding: 0;
    max-width: 100%;
}
.text2 h1 {
    margin: 20px auto;
    width: max-content;
    padding-left: 10px;
    max-width: 100%;
}
/* TESTI */

/* FOOTER */
footer {
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(#59209B, #280659);
    color: white;
    padding: 20px;
    max-width: 100%;
}
/* FOOTER */

.arrows {                               /* Container for the next and previous page button in the end of the page */
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 30px;
    user-select: none;
    max-width: 100%;
}
.arrows .previous *, .arrows .next *{
    text-decoration: none;
    padding: 5px;
    color: white;
    background-color: #734F96;
    border-radius: 10px;
    transition: .4s;
    max-width: 100%;
}
.arrows .previous a:hover, .arrows .next a:hover {
    background-color: #280659;
}


.inputForum {                       /* For input sections */
    text-align: center;
    padding: 25px;
    user-select: none;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 100%;
    background-color: white;
}
.inputForum p {
    text-align: left;
    margin-bottom: 5px;
    max-width: 100%;
}
.inputForum input, .inputForum button {
    width: 84.6%;
    border: 2px solid black;
    border-radius: 10px;
    height: 30px;
    color: black;
    font-size: 15px;
    margin-left: 10px;
    padding-left: 15px;
    background-color: white;
    max-width: 100%;
    order: 0;
}
.inputForum button {    
    height: 55px;
    padding-left: 5px;
    width: 150px;
    color: black;
    order: 1;
    max-width: 100%;
}

.info {                                 /* Info of the message uploaded */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1240px;
    max-width: 100%;
}
.info *{
    margin-bottom: 10px;
    margin: 0 10px; 
    max-width: 100%;
}

ul {                                    /* List of the messages */
    max-width: 100%;
    padding: 0;
}
li {
    max-width: 100%;
}
.info, .timestamp, footer  {max-width: 100%;}

textarea {                              /* Where you write  */
    width: 100%;
    text-align: left;
    height: 100px;
    resize: none;
    overflow: auto;
    max-width: 100%;
}